<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>

<p><%=@movie.title%> <%=@movie.year%></p>

<form action = "/actor_movies/<%=params[:id] %>" method = "post">
<select class="form-control" name="actor_id">
<% @actors.each do |actor|  %>
  <option value="actor.id"><%= actor.name %></option>
<% end %>
</select>
<button type="submit" class="btn btn-default">Add Actor</button>
</form>
</form>